In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("/Users/akshaypatil/Downloads/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [10]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [111]:
avg = df.loc[df['sex'] == 'Male', 'age'].mean().round(1)
avg

39.4

### What is the percentage of people who have a Bachelor's degree?

In [115]:
percentage_bachelors = round(len(df.loc[df['education'] == 'Bachelors']) / len(df)*100, 1)

In [116]:
print(f'Percentage of people with a bachelors degree is {percentage_bachelors}%')

Percentage of people with a bachelors degree is 16.4%

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [107]:
advanced_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [68]:
advanced_education_percent = advanced_education['salary'].value_counts(normalize = True)['>50K'] * 100

In [69]:
print(f'higher education and salary >50K is {advanced_education_percent:,.2f}%')

higher education and salary >50K is 46.54%

### What percentage of people without advanced education make more than 50K?

In [70]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [71]:
lower_education_percent = lower_education['salary'].value_counts(normalize = True)['>50K'] * 100

In [72]:
print(f'Lower education and salary >50K is {lower_education_percent:,.2f}%')

Lower education and salary >50K is 17.37%

### What is the minimum number of hours a person works per week?

In [74]:
min_num_hrs = df['hours-per-week'].min()
print(f'Minimum number of hours a person works per week {min_num_hrs}')

Minimum number of hours a person works per week 1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [186]:
min_num_wrks = df.loc[(df['hours-per-week'] == min_num_hrs) & (df['salary'] == '>50K')]

percent_min_hrs = round(min_num_wrks.shape[0]/df[(df['hours-per-week'] == min_num_hrs)].shape[0] * 100, 1)

print(f'percentage of the people who work the minimum number of hours per week have a salary of more than 50K {percent_min_hrs}%')

percentage of the people who work the minimum number of hours per week have a salary of more than 50K 10.0%

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [190]:
highest_earning_by_country = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()
total_count_by_country = df['native-country'].value_counts()
percentage_earning_over_50k_by_country = round((highest_earning_by_country/total_count_by_country) *100,1)

In [191]:
highest_percent_country = percentage_earning_over_50k_by_country.idxmax()
highest_percent_country

'Iran'

In [193]:
highest_earning_country_percentage = percentage_earning_over_50k_by_country[highest_percent_country]
highest_earning_country_percentage

41.9

In [194]:
print(f'{highest_percent_country} has the highest percentage of people that earn >50K having {highest_earning_country_percentage}%')

Iran has the highest percentage of people that earn >50K having 41.9%

### Identify the most popular occupation for those who earn >50K in India.

In [108]:
df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'), 'occupation'].value_counts().index[0]

'Prof-specialty'